
<div id="coinPage">
    


    <div id="ourButtons">
        <button type="button" id="backToLobby2">Return To Casino Lobby</button>
        <button type="button" id="playVideoN">Watch Video To Get 50 Coins</button>
    </div>

    <div id="adScreenN" >
        <div id="adN"></div>
        <div id="payMeN"></div>
    </div>

</div>

<script src='/JS/adForCoin.js'></script>