
<div id="coinPage">
    


    <div id="ourButtons">
        <button type="button" id="backToLobby2">Return To Casino Lobby</button>
        <button type="button" id="playVideoN">Watch Video To Get 50 Coins</button>
        <button type="button" id="registerN">Register Email To get 1000 Coins</button>
    </div>

    <div id="adScreenN" >
        <div id="adN"></div>
        <div id="payMeN"></div>

        

    </div>

    <div id ="hideThis">

            <div id="available-email">Enter your email address</div>
            <input type="text"  class="form-control p-2" id="new-email">
            <button type="button" id="registerEmail" class="btn btn-success my-3" style="visibility: hidden;">Submit</button>
            
    </div>

</div>

<script src='/JS/adForCoin.js'></script>