

<div id="adScreenN" >
    <div id="playAdN"><button type="button" id="playVideoN">Play Video To Get 50 Free Coins</button></div>
    <div id="adN"></div>
    <div id="payMeN"></div>
</div>

<br>
<br>
<br>
<div id="returnToLobby">
            <button type="button" id="backToLobby2">Return To Casino Lobby</button>
</div>
<script src='/js/adForCoin.js'></script>