    <form id="create-post">
        <div class="form-group">
            <label class="py-2 px-3 text-info" for="exampleFormControlInput1"><b>Title</b></label>
            <input type="text" class="form-control mx-3" id="post-title">
        </div>
        <div class="form-group">
            <label class="py-2 px-3 text-info" for="exampleFormControlTextarea1"><b>Content</b></label>
            <textarea class="form-control mx-3" id="post-content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success m-3">Create</button>
    </form>

    <script src='/js/create.js'></script>