{{!-- for each post by userid, render the posts --}}

{{#each posts as |post|}}
{{> post-details}}
{{/each}}

{{!-- <button id='newPost' class='btn btn-success mx-3'>Add New Post</button> --}}


<button id='roulette1' class='btn btn-success mx-3'>Roulette 4 Plebs</button>

<script src="/js/dashboard.js"></script>