


<canvas id="viewScreen"  class = "r" width="500" height="500"></canvas>
<div id="yourBet">
    <h2>Your Bet:</h2>
    <div id="yourBet"></div>

</div>

<div id="placeYourBet">
    <h3>Place your $5 bet.</h3>
</div>

{{!-- <div> --}}
    {{!-- <h3>Place your $5 bet.</h3> --}}
    <!--bet buttons, need to arrange this into a convenient pattern, maybe 2 rows, or separate numbers and even/odd-->
    <div id="betButtons" style="visibility:visible">
        <button id ="b1" type="button" class="Dbet" value="1">1</button><!--change to 123456-->
        <button id ="b2" type="button" class="Dbet" value="2">2</button>
        <button id ="b3" type="button" class="Dbet" value="3">3</button>
        <button id ="b4" type="button" class="Dbet" value="4">4</button>
        <button id ="b5" type="button" class="Dbet" value="5">5</button>
        <button id ="b6" type="button" class="Dbet" value="6">6</button>
        <button id ="bEven" type="button" class="Dbet" value="even">Even</button>
        <button id ="bOdd" type="button" class="Dbet" value="odd">Odd</button>
        
    </div>
    


{{!-- </div> --}}


    <div id="availableChips">
        <h2>Available chips</h2>
        {{!-- <div id="chips"></div> --}}
    </div>

     <div id="chips"></div> 
    
    <button type="button" id="backToLobby">Return To Casino Lobby</button>
    <button type="button" id="getCoins">Get Free Coins</button>





    
   
    

<script src='/js/dice5.js'></script>