

<div class = "boardN">
    <div id="screenContN">
        <canvas id="viewScreenN"  class = "rN" width="500" height="500"></canvas>
    </div>

    <div class="controlsN">

        <div class="infoN2 centN">
            <button type="button" id="backToLobbyN" class="DbetN flat">To Lobby</button>
            <button type="button" id="getCoinsN" class="DbetN  flat">Free Coins</button>
        </div>

        <div class="infoN2 centN">
            <div class="flat">Available chips:</div>
            <div id="chipsN" class="flat"></div><br>
        </div>

        

        <div class="infoN2">
            <div class="centN">Place your $10 bet.</div>
            <!--bet buttons, need to arrange this into a convenient pattern, maybe 2 rows, or separate numbers and even/odd-->
            <div id="betButtonsN" style="visibility:visible">
                <button id ="b1N" type="button" class="DbetN" value="1">1</button><!--change to 123456-->
                <button id ="b2N" type="button" class="DbetN" value="2">2</button>
                <button id ="b3N" type="button" class="DbetN" value="3">3</button>
                <button id ="b4N" type="button" class="DbetN" value="4">4</button>
                <button id ="b5N" type="button" class="DbetN" value="5">5</button>
                <button id ="b6N" type="button" class="DbetN" value="6">6</button>
                <button id ="bEvenN" type="button" class="DbetN" value="even">Even</button>
                <button id ="bOddN" type="button" class="DbetN" value="odd">Odd</button>
            </div>
        </div>

        <div class="infoN2 centN" >
            <div class="flat">Your bet:</div>
            <div id="yourBetN" class="flat"></div>
        </div>


       

        

    </div>

</div>



    
   
    

<script src='/js/dice10.js'></script>