<!--///////////////////////////////////////////////////////////////////////////////////-->                                                            
<!--for a commented version of this file see dice5.handlebars which is almost identical-->
<!--///////////////////////////////////////////////////////////////////////////////////--> 
<div class="boardN">
  <div id="screenContN">
    <canvas id="viewScreenN" class="rN" width="500" height="500"></canvas>
  </div>

  <div class="controlsN">

    <div class="infoN2 centN">
      <button type="button" id="backToLobbyN" class="DbetN flat">To Lobby</button>
    </div>

    <div class="infoN2 centN">
      <div class="flat">Available chips:</div>
      <div id="chipsN" class="flat"></div><br />
    </div>

    <div class="infoN2">
      <div class="centN">Place your $10 bet.</div>
      <div id="betButtonsN" style="visibility:visible">
        <button id="b1N" type="button" class="DbetN" value="1">1</button>
        <button id="b2N" type="button" class="DbetN" value="2">2</button>
        <button id="b3N" type="button" class="DbetN" value="3">3</button>
        <button id="b4N" type="button" class="DbetN" value="4">4</button>
        <button id="b5N" type="button" class="DbetN" value="5">5</button>
        <button id="b6N" type="button" class="DbetN" value="6">6</button>
        <button id="bEvenN" type="button" class="DbetN" value="even">Even</button>
        <button id="bOddN" type="button" class="DbetN" value="odd">Odd</button>
      </div>
    </div>

    <div class="infoN2 centN">
      <div class="flat">Your bet:</div>
      <div id="yourBetN" class="flat"></div>
    </div>

  </div>



</div>

<script src="/JS/dice10.js"></script>