
<!--
<div id="imageLoader">
    <img src="chip.png" class="loader">
    <img src="board.png" class="loader">
</div>
-->

<canvas id="viewScreen" width="1500" height="705" class = "r" ></canvas>

<div>
    <h3>Place your bets, in increments of 5 chips.</h3>
    <!--bet buttons-->
    <div id="betButtons">
        <button type="button" value="0">0</button>
        <button type="button" value="1">1</button>
        <button type="button" value="2">2</button>
        <button type="button" value="3">3</button>
        <button type="button" value="4">4</button>
        <button type="button" value="5">5</button>
    </div>

</div>

<button onclick="draw()">play</button>

<button type="button" id="backToLobby">Return To Casino Lobby</button>
    
   
    

<script src='/js/roulette1.js'></script>