<div id="imageLoader">
    <img src="chip.png" class="loader">
    <img src="board.png" class="loader">
</div>

<canvas id="viewScreen" width="1500" height="705" class = "r" ></canvas>

<button onclick="draw()">play</button>

<button type="button" id="backToLobby">Return To Casino Lobby</button>
    
   
    

<script src='/js/roulette1.js'></script>