
#screenContN{
    margin:0 auto;
    width:250px;
    height:250px;

}
#viewScreenN{
    margin:0 auto;
    width:250px;
    height:250px;

}

.boardN{
    display:flex;
    flex-wrap:wrap;
    
    font-size: 25px;
}

.rN{
    border-radius: 5px;
	border: 1px solid rgb(209, 180, 13);
	position: absolute;
	
	
}

.controlsN{
    padding:10px;
    margin:0 auto;
}

.infoN2 > .flat{
    display:inline;
    
}

.yourBetN {

    padding-left:10px;
}

.DbetN{
    border-radius:5px;
    margin:5px;
}

.infoN2 {
    background-color: rgb(46, 46, 46);
    color: rgb(138, 138, 138);
    border: 2px solid  rgb(138, 138, 138);
    border-radius:5px;
    margin:5px;
}
.centN{
    display:flex;
    justify-content:center;
}


@media only screen and (max-width: 777px) {

    .boardN{
        
        font-size: 20px;
    }
    .DbetN{
        margin:3px;
    }

    #screenContN{
        width:200px;
        height:200px;
    }
    #viewScreenN{
        width:200px;
        height:200px;
    }
	
}

@media only screen and (max-width: 500px) {
    .boardN{
        
        font-size: 15px;
    }

    .DbetN{
        margin:1px;
    }
    #screenContN{
        width:150px;
        height:150px;
    }
    #viewScreenN{
        width:150px;
        height:150px;
    }
	
}