#adScreenN{
    position:relative;
}
#playAdN{
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}
#adN{
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    
}
#payMeN{
    position: absolute;
    top:0;
    left:0;
    z-index:3;
}

/* .r{
    border-radius: 5px;
	border: 1px solid rgb(209, 180, 13);
	position: absolute;
	
	
	
} */

#yourBet{
	position: absolute;
	bottom: 130px;
	color: #f4a460;
}

#placeYourBet{
	position: absolute;
	bottom: 205px;
	color: #f4a460;
	/* left: 960px; */
}

#betButtons{
	position: absolute;
	bottom: 175px;
	border: none;
	/* left: 940px; */
}

#backToLobby{
	position: absolute;
	bottom: 65px;
	/* left: 990px; */
}

#availableChips{
	position: absolute;
	bottom: 260px;
	color: #f4a460;

}

#chips{
	position: absolute;
	bottom: 240px;
	color: #f4a460;
}

#getCoins{
	position: absolute;
	bottom: 100px;
}

/* #b1, #b2, #b3, #b4, #b5, #b6{
	background-color: white;
	transition-duration: 0.4s;
	
	
} */

button:hover{
	background-color: black;
	color: #f4a460;
	border: 1px solid #f4a460;
}


button{
	border: none;
	border-radius: 12px;

}



.loader{
	display:none;
}

@media screen and (max-width: 500px) {
	#availableChips {
		width: 43vh;
	}
}