/* #mainimage {
    position: relative;
}

#moneyrain {
    position: absolute;
    top: 0;
    left: 0;
}

#body {
    position: absolute;
    top: 0;
    left: 0;
} */

body {
    background-image:url("casinologo.png");
    background-repeat: no-repeat;
    background-position: center center;
}

/* nav {
    background-image: url('/images/casinofloor1.jpg');
} */

#mainbar {
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin-bottom: 2px; */
    
}

#home {
    font-size: 25px;
    font-weight: 475;
}

#casino {
    font-size: 25px;
    margin-left: 2px;
    font-weight: 475;

}

#activelogin {
    font-size: 25px;
    font-weight: 475;
}

#logout {
    font-size: 25px;
    font-weight: 475;
}

#inactivelogin{
    font-size: 25px;
    font-weight: 475;
}

#homepage {
    font-weight: 550;

}

#moneyrain {
    margin-top: 25px;
    width: 50vh
}

#logincard {
    width: 55vh;
}

#signupcard {
    width: 55vh;
}

#maincard {
    margin-top: 50px;
}

@media only screen and (max-width: 777px) {

    #logincard {
        width: 48vh;
    }
    
    #signupcard {
        width: 48vh;
    }
	
}

@media only screen and (max-width: 500px) {

    #logincard {
        width: 43vh;
    }
    
    #signupcard {
        width: 43vh;
    }
	
}