*  {
    font-family: 'Oswald', sans-serif;
}
/*
#moneyrain {
    position: absolute;
    top: 0;
    left: 0;
}

#body {
    position: absolute;
    top: 0;
    left: 0;
} 

body {
    /* background-image:url("/casinologo5.png"); 
    /* background-image:url("/casinodice.jpg"); 
    /* background-repeat: no-repeat;
    background-position: center center; 

    /* background-size: cover; 
    /* background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
  
}*/

.bannerC {

    height: 100%;
    width: 100%;

    background-image:url("/casinologo5.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    
    
}
.bannerA {
    background: linear-gradient( 0deg, rgb(46, 46, 46), rgb(180, 180, 180));
    background-size: 2000px 1000px;
    
    background-repeat: no-repeat;
    
    
    
}



.bannerB {
    background-image:url("/casinodiceresized1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    
}

/* nav {
    background-image: url('/images/casinofloor1.jpg');
} */

#mainbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(217deg, rgb(138, 138, 138), rgb(85, 83, 83)); 
    /* background: linear-gradient(217deg, #224bd4, #4f13dd); 
    background-image:url("/navbar4N.jpg");
    */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; 
    background-position: center;
     margin-bottom: 2px; */
    
}

#home {
    font-size: 20px;
    font-weight: 475;
}

#casino {
    font-size: 20px;
    margin-left: 2px;
    font-weight: 475;

}

#activelogin {
    font-size: 20px;
    font-weight: 475;
}

#logout {
    font-size: 20px;
    font-weight: 475;
}

#inactivelogin{
    font-size: 20px;
    font-weight: 475;
}

#homepage {
    background-color: rgb(46, 46, 46);
    color:  #FFF;
    font-size: 47px;
    border-radius: 15px;
    border: 3px solid  rgb(138, 138, 138);
    font-weight: 550;

}

#moneyrain {
    margin-top: 25px;
    width: 50vh
}

#logincard {
    width: 32vw;
    /* height: 45vh; */
}

#signupcard {
    width: 35vw;
    /* height: 55vh; */
}

#maincard {
    margin-top: 50px;
}

#sign-up-form {
    font-weight: bold;
}

#login-form {
    font-weight: bold;
}

#available-username {
    text-align: center;
}

#available-password{
    text-align: center;
}


@media only screen and (max-width: 999px) {
    #logincard {
        width: 48vw;
        /* height: 50vh; */
    }

    #signupcard {
        width: 50vw;
        /* height: 60vh; */
    }
}


@media only screen and (max-width: 777px) {

    #logincard {
        width: 55vw;
        /* height: 50vh */
    }
    
    #signupcard {
        width: 55vw;
        /* height: 60vh */
    }
	
}

@media only screen and (max-width: 650px) {

    #logincard {
        width: 70vw;
        /* height: 50vh */
    }
    
    #signupcard {
        width: 80vw;
        /* height: 60vh */
    }
	
}

@media only screen and (max-width: 500px) {

    #available-password {
        font-size: .8rem;
    }

    #available-username {
        font-size: .8rem;
    }

    #logincard {
        width: 80vw;
        /* height: 50vh */
    }
    
    #signupcard {
        width: 80vw;
        /* height: 60vh */
    }
	
}

@media only screen and (max-width: 390px) {
    #available-password {
        font-size: .75rem;
    }

    #available-username {
        font-size: .75rem;
    }
}

@media only screen and (max-width: 347px) {

    #available-password {
        font-size: .7rem;
    }

    #available-username {
        font-size: .7rem;
    }
    #logincard {
        width: 80vw;
        /* height: 50vh; */
    }
    
    #signupcard {
        width: 80vw;
        /* height: 58vh; */
    }
	
}

@media only screen and (max-width: 320px) {

    #available-password {
        font-size: .61rem;
    }

    #available-username {
        font-size: .61rem;
    }

    #homepage{
        font-size: 37px;
    }
}

@media only screen and (max-width: 299px) {

    #logincard {
        width: 80vw;
        /* height: 50vh */
    }
    
    #signupcard {
        width: 80vw;
        /* height: 58vh */
    }
	
}

@media only screen and (max-width: 270px) {

    #available-password {
        font-size: .55rem;
    }

    #available-username {
        font-size: .55rem;
    }

    #homepage{
        font-size: 27px;
    }
}

@media only screen and (max-width: 245px) {

    #available-password {
        font-size: .5rem;
    }

    #available-username {
        font-size: .5rem;
    }


}