
#screenContN{
    margin:0 auto;
    width:250px;
    height:250px;
    margin-bottom:10px;

}

#video1{
    width:560;
    height:315;
    border-radius:20px;
}

#dice5 {
    padding: 10px 25px 10px 25px;
    /* box-shadow: 2px 3px rgb(208, 193, 193); */
    border: 1px solid white;
    font-size: 19px;
}

#dice10 {
    padding: 10px 25px 10px 25px;
    /* box-shadow: 2px 3px rgb(208, 193, 193); */
    border: 1px solid white;
    font-size: 19px;
}



#viewScreenN{
    margin-top: 16.5px;
    margin-bottom:10px;
    width:250px;
    height:250px;

}
/*
#coinPage{
    
}
*/
#adScreenN{
    height:315;
    width:560;
    position:relative;
    margin: 0 auto ;
    display:none;
}
#adN{
    
    margin: 0 auto ;
    position:absolute;
    z-index:1;
}
#payMeN{
    

    position:absolute;
    top:50%;
    left:50%;
    z-index:2;


}
#claimCoins {
    border-radius: 5px;
    position:absolute;
    height:100px;
    width:400px;
    margin-top:-50px;
    margin-left:-200px;
    border: 2px solid;
    background-color: black;
    color: #fff;
    font-size:30;
}
#ourButtons{
    display:flex;
    justify-content:center;
}
#ourButtons > *{
    border-radius: 5px;
    
}


.boardN{
    display:flex;
    flex-wrap:wrap;
    
    font-size: 25px;
}

.rN{
    border-radius: 5px;
	border: 1px solid rgb(209, 180, 13);
	position: absolute;
	
	
}

.controlsN{
    padding:10px;
    margin:0 auto;

}

.infoN2 > .flat{
    display:inline;
    
}

.yourBetN {

    padding-left:10px;
}

.DbetN{
    border-radius:5px;
    margin:5px;
}

.infoN2 {
    background-color: rgb(46, 46, 46);
    color: rgb(138, 138, 138);
    border: 2px solid  rgb(138, 138, 138);
    border-radius:5px;
    margin:5px;
}
.centN{
    display:flex;
    justify-content:center;
}

@media only screen and (max-width: 570px),(max-height: 380px){
    #video1{
        width:392;
        height:220;
        
    }
    #adScreenN{
        width:392;
        height:220;  
    }
}

@media only screen and (max-width: 400px){
    #video1{
        width:336;
        height:189;
    }
    #adScreenN{
        width:336;
        height:189;  
    }
}
@media only screen and (max-width: 330px){
    #video1{
        width:308;
        height:173;
    }
    #adScreenN{
        width:308;
        height:173;  
    }
}
@media only screen and (max-width: 330px){
    #video1{
        width:308;
        height:173;
    }
    #adScreenN{
        width:308;
        height:173;  
    }
}
@media only screen and (max-width: 250px){
    #video1{
        width:196;
        height:110;
    }
    #adScreenN{
        width:196;
        height:110;  
    }
}

@media only screen and (max-height: 450px){

    #adScreenN{
        margin-top:-70; 
    }
}


@media only screen and (max-width: 410px), (max-height: 410px) {

    .boardN{
        
        font-size: 20px;
    }
    .DbetN{
        margin:3px;
    }

    #screenContN{
        width:200px;
        height:200px;
    }
    #viewScreenN{
        width:200px;
        height:200px;
    }
	
}

@media only screen and (max-width: 450px), (max-height: 450px) {
    .boardN {
        margin-top: -50px;
    }
}



@media only screen and (max-width: 350px), (max-height: 350px) {
    .boardN {
        margin-top: -70px;
    }
}

@media only screen and (max-width: 300px), (max-height: 300px) {
    .boardN{
        
        font-size: 15px;
    }

    .DbetN{
        margin:1px;
    }
    #screenContN{
        width:100px;
        height:100px;
    }

    #viewScreenN{
        width:100px;
        height:100px;
    }
    
	
}

@media only screen and (max-width: 300px) and (max-height: 300px) {
    .boardN{
        
        font-size: 10px;
    }

    .DbetN{
        margin:1px;
    }
    #screenContN{
        width:100px;
        height:100px;
    }

    #viewScreenN{
        width:100px;
        height:100px;
    }
    
	
}


